--
-- PostgreSQL database dump
--

\restrict 5QyxZMw3rvNFyZ1Z8UyCVFJ7QDgJ0eCEmIAodURBXqNI9owSw4YipETgjhOaBWk

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.roles (id, role_name, created_at, created_by) FROM stdin;
1	admin	2026-07-07 11:38:40.399142	\N
2	pm	2026-07-07 11:38:40.399142	\N
3	accountant	2026-07-07 11:38:40.399142	\N
4	warehouse	2026-07-07 11:38:40.399142	\N
5	commercial_director	2026-07-07 11:38:40.399142	\N
\.


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.roles_id_seq', 5, true);


--
-- PostgreSQL database dump complete
--

\unrestrict 5QyxZMw3rvNFyZ1Z8UyCVFJ7QDgJ0eCEmIAodURBXqNI9owSw4YipETgjhOaBWk

